body {
  margin: 0;
  color: #ffffff;
  background-color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Consolas, "Courier New", monospace;
}
.app {
  width: 100vw;
}

header {
  width: 90vw;
  display: flex;
  justify-content: space-between;
}
